html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-weight: 400;
}

* {
    outline: none;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #998fd8;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #6454b0;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #998fd8;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    outline: none;
    opacity: 0;
    cursor: pointer;
}


.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h4 {
    text-transform: uppercase;
    color: #6454b0;
    padding: 60px 0;
    font-weight: 600;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active, .upload-image:active {
    border: 0;
    transition: all .2s ease;
}

.upload-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #ffda28;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #a48b00;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.upload-image:hover {
    background: #ffd200;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

